# 13.4 Titanic Disaster Dataset Analysis

In [ ]:
import pandas as pd

## Laden des Titanic-Datensatzes über einen URL

Der Titanic Disaster Datensatz ist einer der beliebtesten Machine-Learning Datensätze.
Er kann direkt aus GitHub geladen werden:

In [ ]:
titanic = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/carData/TitanicSurvival.csv')

* Der Datensatz enthält 1309 Einträge für Passagiere. 
* Bei grossen Datensätzen werden nur die ersten und letzten fünf Zeilen ausgegeben.

In [ ]:
titanic

In [ ]:
pd.set_option('display.precision', 2)

In [ ]:
titanic.head()

In [ ]:
titanic.tail()

## Anpassen der Spaltennamen

In [ ]:
titanic.columns = ['name', 'survived', 'sex', 'age', 'class']

In [ ]:
titanic.head()

## Einfache Datenanalyse

In [ ]:
titanic.describe()

* Der Aufruf von `describe` auf einem `DataFrame`, das sowohl numerische als auch nicht-numerische Spalten enthält, erzeugt beschreibende Statistiken _nur für die numerischen Spalten_. In diesem Fall nur die Spalte "Alter".
* Bei der Durchführung der Berechnung ignoriert Pandas fehlende Daten (`NaN`). Daher weist `count` auch nur 1046.00 Daten aus.

&nbsp;

Nehmen wir an, wir wollen eine Statistik über Menschen ermitteln, die überlebt haben:

In [ ]:
(titanic.survived == 'yes').describe()

* Für nicht-numerische Daten zeigt `describe` andere Statistiken an, als für numerische Daten

## Alterhistogramm der Passagiere

* Visualisierung hilft, Daten zu verstehen, bzw. kennen zu lernen
* Pandas hat viele integrierte Visulisierungsfunktionen

* Ein **Histogramm** visulisiert die Verteilung der numerischen Daten über einen Wertebereich.
* Die `hist`-Methode analysiert die Daten jeder numerischen Spalte und erzeugt ein separates Histogramm für jede numerische Spalte.

In [ ]:
histogram = titanic.hist()