# 5.4 Sequenzen entpacken
Die Elemente einer Sequenz können enpackt werden, indem sie einer durch Komma getrennten Liste von Variablen (mit der entsprechenden Länge) zugeordnet werden.

In [ ]:
student_tuple = ('Amanda', [98, 85, 87])

In [ ]:
first_name, grades = student_tuple

In [ ]:
first_name

In [ ]:
grades

In [ ]:
first, second = 'hi'

In [ ]:
print(f'{first}  {second}')

In [ ]:
number1, number2, number3 = [2, 3, 5]

In [ ]:
print(f'{number1}  {number2}  {number3}')

In [ ]:
number1, number2, number3 = range(10, 40, 10)

In [ ]:
print(f'{number1}  {number2}  {number3}')

### Austauschen von Werten durch Ein- und Auspacken

In [ ]:
number1 = 99

In [ ]:
number2 = 22

In [ ]:
number1, number2 = (number2, number1)

In [ ]:
print(f'number1 = {number1}; number2 = {number2}')

### Gleichzeitiger Zugriff auf Indizes und Werte mit der Funktion enumerate
* Die bevorzugte Art, gleichzeitig auf den Index _und_ Wert eines Elements zuzugreifen, ist die Funktion **`enumerate`**. 
* `enumerate` erzeugt einen Iterator, der für jedes Element ein **Tupel** zurückgibt, das den **Index** und den **Wert** des Elements enthält.

In [ ]:
colors = ['red', 'orange', 'yellow']

In [ ]:
enumerate(colors)

Die Funktion **`list`** erzeugt eine Liste aus einer Sequenz.

In [ ]:
list(enumerate(colors))

Die Funktion **`Tupel`** erzeugt ein Tupel aus einer Sequenz.

In [ ]:
tuple(enumerate(colors))

Der Enumerator kann entpackt werden.

In [ ]:
for index, value in enumerate(colors):
    print(f'{index}: {value}')

Wird nur eine Loop-Variable verwendet, dann gibt der Enumerator ein Tupel zurück.

In [ ]:
for tupel in enumerate(colors):
    print(tupel)

### Beispielanwendung: Erstellen eines einfachen Balkendiagramms

In [ ]:
"""Displaying a bar chart"""
numbers = [19, 3, 15, 7, 11]

print('\nCreating a bar chart from numbers:\n')
print(f'Index{"Value":>8}{"":3}Bar')

for index, value in enumerate(numbers):
    print(f'{index:5}{value:8}{"":3}{"*" * value}')

* Der Ausdruck `"*" * value` erzeugt eine Zeichenkette, die aus `value` Sternen besteht. 
* Bei Verwendung mit einer Sequenz _wiederholt_ der Multiplikationsoperator (`*`) die Sequenz.