# 6.3 Filter, Map, and Reduce

Funktionen in Python sind Objekte:
* können an Variablen zugewiesen werden;
* können als Argumente an Funktionen übergeben werden;
* können von von Funktionen als Rückgabewert zurückgegeben werden.

Man nennt Funktionen mit diesen Eigenschaften: **Funktionen höherer Ordnunng (higher-order functions)**

In [ ]:
def is_odd(x):
    """Returns True only if x is odd."""
    return x % 2 != 0

In [ ]:
odd = is_odd

In [ ]:
type(odd)

In [ ]:
odd(5)

## Filter Funktion
Filtern von Werten in einer Sequenz.

Die Funktion `filter` besteht aus 2 Parameter:
   * erwartet als erstes Argument eine Funktion, die True zurückgibt, wenn der Wert im Ergebnis des Filters enhalten sein soll;
   * erwartet als zweites Argument eine iterierbares Objekt (eine Sequenz).

```python
filter(function, iterable)
```

`filter` konstruiert einen Iterator aus den Elementen von `iterable`, für die `function` True zurück gibt.

In [ ]:
numbers = list(range(10))

In [ ]:
filter(is_odd, numbers)

In [ ]:
list(filter(is_odd, numbers))

Eine List Comprehension, oder ein -Generator liefert dasselbe Resultat:

In [ ]:
[item for item in numbers if is_odd(item)]

### Verwenden einer Lambda Funktion
* Anonyme Funktion (d.h., Funktion, ohne Funktionsnamen);
* Kann beliebig viele Argumente entgegen nehmen, aber darf nur aus einer einzigen Anweisung bestehen;
* Beginnt mit dem Schlüsselwort **`lambda`**, gefolgt von einer durch Komma getrennten Parameterliste, einem Doppelpunkt (`:`) und einem Ausdruck;
* Ein `lambda` gibt _implizit_ den Wert seines Ausdrucks zurück. 


Syntax:
``` python
lambda arguments : expression
```

In [ ]:
x = lambda a : a + 10

In [ ]:
x(5)

In [ ]:
x = lambda a, b : a * b

In [ ]:
x(5, 6)

In [ ]:
# Verwendung in einer Filter Funktion
list(filter(lambda x : x % 2, numbers))

## Map Funktion
Abbildung von Werten einer Sequenz auf neue Werte.

```python
map(function, iterable, ...)
```

Gibt einen Iterator zurück, der `function` auf jedes Element von `iterable` anwendet und das Ergebnis zurück gibt.
Wenn zusätzliche `iterable` Argumente übergeben werden, muss `function` so viele Argumente annehmen und wird auf die Elemente aller `iterable` parallel angewendet. Bei mehrerern `iterable` hält der Iterator an, wenn das kürzeste `iterable` erschöpft ist.

In [ ]:
numbers

In [ ]:
list(map(lambda x : x ** 2, numbers))

In [ ]:
numbers2 = list(range(10, 110, 10))
numbers2

In [ ]:
list(map(lambda a, b: a + b, numbers, numbers2))

## Reduce Funktion
Reduktionen verarbeiten die Elemente einer Sequenz zu einem einzigen Wert. Beispiele: len, min, max, sum.

```python
functools.reduce(function, iterable[, initializer])
```

Wendet `function` mit zwei Argumenten kumulativ auf die Elemente von `iterable` an, um `iterable` auf einen einzigen Wert zu reduzieren.<br>
Wenn der optionale `initializer` vorhanden ist, wird er in der Berechnung vor den Elementen von `iterable` plaziert und dient als Startwert. Im Fall wo `iterable` leer ist, wird der `initializer` zurück gegeben und verhindert damit einen TypeError.

In [ ]:
numbers = list(range(10))
numbers

In [ ]:
from functools import reduce

reduce(lambda x, y : x + y, numbers)

In [ ]:
numbers.clear()

In [ ]:
reduce(lambda x, y : x + y, numbers)

In [ ]:
reduce(lambda x, y : x + y, numbers, 0)

## Beispiele

### Beispiel 1
Gegeben ist eine Liste `numbers`, welche die Zahlen 1 - 15 enthält.

Gesucht:
1. Liste, die nur die geraden Zahlen enthält;
2. Liste, die die Quadrate von `numbers` enthält;
3. Liste, die nur die Quadrate der geraden Zahlen von `numbers` enthält.

Lösen Sie die Aufgaben sowohl mittels filter- und map-Funktion, als auch mittels List Comprehension.

In [ ]:
numbers = list(range(1, 16))

In [ ]:
# 1. Liste, die nur die geraden Zahlen enthält
list(filter(lambda x : x % 2 == 0, numbers))

In [ ]:
# list comprehension
[item for item in numbers if item % 2 == 0]

In [ ]:
# 2. Liste, die die Quadrate von numbers enthält
list(map(lambda x : x ** 2, numbers))

In [ ]:
# list comprehension
[item ** 2 for item in numbers]

In [ ]:
# 3. Liste, die nur die Quadrate der geraden Zahlen von numbers enthält
list(map(lambda x : x ** 2, filter(lambda x : x % 2 == 0, numbers)))

In [ ]:
[item ** 2 for item in numbers if item % 2 == 0]

### Beispiel 2
Bilde eine Liste von Tupeln, welche die Fahrenheit Temperatur, sowie die zugehörige Celsius Temperatur enthalten.

Formel für die Umrechnung:  `Celsius = (Fahrenheit - 32) * (5/9)`

In [ ]:
fahrenheit = [41, 32, 212]

In [ ]:
list(map(lambda x : (x, (x - 32) * 5 / 9), fahrenheit))

In [ ]:
[(f, (f - 32) * 5 / 9) for f in fahrenheit]