# 6.1 List Comprehensions
Kompakter Weg zur Erstellung neuer Listen

In [ ]:
list1 = []

for item in range(1, 6):
    list1.append(item)
    
list1

## Verwenden einer List Comprehension zur Erstellung einer Liste von ganzen Zahlen

In [ ]:
list2 = [item for item in range(1, 6)]

In [ ]:
list2

* Die **`for`-Klausel** iteriert über die durch `range(1, 6)` erzeugte Sequenz 
* Für jedes Element wertet die List Comprehension den Ausdruck links der for-Klausel aus und setzt das Resultat des Ausdrucks in die neue Liste

## Mapping
* Ein Mapping bildet Ausgangswerte in neue Werte ab. 
* Die Anzahl Elemente (Werte) ändert sich dabei nicht.

In [ ]:
list3 = [item ** 3 for item in range(1, 6)]

In [ ]:
list3

## Filter
* Es werden nur Werte ausgewählt, die eine Bedingung erfüllen. 
* Das Resultat enthält i.d.R. weniger Elemente als in den ursprünglichen Daten enthalten waren.

In [ ]:
list4 = [item for item in range(1, 6) if item % 2 == 0]

In [ ]:
list4

## List Comprehension, die die Elemente einer anderen Liste verarbeitet

Die `for`-Klausel kann jedes iterierbare Objekt verarbeiten.

In [ ]:
colors = ['red', 'orange', 'yellow', 'green', 'blue']

In [ ]:
colors2 = [item.upper() for item in colors]

In [ ]:
colors2

## Erzeugen einer Liste, deren Elemente Tupel sind

In [ ]:
squares =  [(item, item ** 2) for item in range(5)]

In [ ]:
squares

## Erzeugen einer Liste, die nur durch 3 teilbare Zahlen zwischen 1 - 30 enthält

In [ ]:
multiples = [item for item in range(3, 30, 3)]

In [ ]:
multiples